<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automation.Mobile.Common.MobileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Automation.Mobile.Common.MobileSettings>
            <setting name="FolderUrl" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\APIReports</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\Ideas\DataFiles\MTestCases.xlsx</value>
            </setting>
            <setting name="PackageName" serializeAs="String">
                <value>Automation.www</value>
            </setting>
        </Automation.Mobile.Common.MobileSettings>
    </userSettings>
</configuration>