<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdeaBridge.AutoTests.Common.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdeaBridge.AutoTests.Common.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IdeaBridge.AutoTests.Common.AppSettings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://198.12.158.120:90</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>ie</value>
            </setting>
            <setting name="DirectoryPath" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\Ideas\</value>
            </setting>
        </IdeaBridge.AutoTests.Common.AppSettings>
    </applicationSettings>
    <userSettings>
        <IdeaBridge.AutoTests.Common.AppSettings>
            <setting name="DataFile" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\Ideas\DataFiles\IdeasData.xlsx</value>
            </setting>
        </IdeaBridge.AutoTests.Common.AppSettings>
    </userSettings>
</configuration>