<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="BaseUrl" value="http://test.Automation.co/login.aspx"/>
    <add key="Browser" value="ie"/>
    <add key="DirectoryPath" value="C:\Users\AbhishekSur\Documents\Ideas\"/>
    <add key="DataFile" value="C:\Users\AbhishekSur\Documents\Ideas\DataFiles\IdeasData.xlsx"/>
  
   <!-- Mobile Settings -->
    <add key="m.app" value="Automation.apk"/>
    <add key="m.deviceName" value="GoogleNexus7"/>
    <add key="m.platformName" value="Android"/>
    <add key="m.platformVersion" value="4.4.2"/>
    <add key="m.url" value="http://127.0.0.1:4723/wd/hub"/>
    <add key="data" value="ADT,cm,cm,My idea,This is my idea,"/>
  </appSettings> 
</configuration>