<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IdeaBridge.API.Tests.Common.APISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Automation.API.Tests.Common.APISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IdeaBridge.API.Tests.Common.APISettings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://webapp.Automation.co</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>emp001</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>adm1n15tr4t0r</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\TestCases.xlsx</value>
            </setting>
            <setting name="FolderUrl" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\APIReports</value>
            </setting>
            <setting name="DbConnectionString" serializeAs="String">
                <value>Data Source=198.12.168.120\mssqlserver2014,1435;Initial Catalog=Tafe;Persist Security Info=True;User ID=TAFE;Password=adm1n15tr4t0r</value>
            </setting>
        </IdeaBridge.API.Tests.Common.APISettings>
        <Automation.API.Tests.Common.APISettings>
            <setting name="BaseURL" serializeAs="String">
                <value>http://automation.Automation.co</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>emp001</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>adm1n15tr4t0r</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\TestCases.xlsx</value>
            </setting>
            <setting name="FolderUrl" serializeAs="String">
                <value>C:\Users\AbhishekSur\Documents\APIReports</value>
            </setting>
            <setting name="DbConnectionString" serializeAs="String">
                <value>Data Source=198.12.168.120\mssqlserver2014,1435;Initial Catalog=Tafe;Persist Security Info=True;User ID=TAFE;Password=adm1n15tr4t0r</value>
            </setting>
        </Automation.API.Tests.Common.APISettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
