<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BaseUrl" value="http://test.automationbridge.co/login.aspx"/>
    <add key="Browser" value="ie"/>
    <add key="DirectoryPath" value="C:\Users\AbhishekSur\Documents\Ideas\"/>
    <add key="DataFile" value="C:\Users\AbhishekSur\Documents\Ideas\DataFiles\IdeasData.xlsx"/>
  </appSettings> 
</configuration>